nav{
    display: grid;
    width: 50%;
    text-align: center;
    grid-template-columns: auto auto auto auto;
}
.item{
    width: 70%;
    padding: 5px;
    border-bottom: 3px solid var(--verde-claro);
}
.activo{
    color: var(--verde-claro);
}