header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgb(131, 196, 66), rgb(179, 212, 56));
    border-radius: 15px;
    box-shadow: rgba(170, 170, 170, 0.27) 0px 5px 15.8px 5px;
    width: 1280px;
    height: 80px;
    margin: 5px;
}

.logo{
    width: 275px;
}