@media (max-width: 768px) {
  /* Cabecera y el nav */
  #root .cabecera {
    width: 100%;
  }
  .cabecera nav {
    width: 100%;
  }
  .cabecera nav .item {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

  /* Cards con postulaciones */
  .eleccion .seccionCategoria {
    flex-direction: column;
    align-items: center;
  }
  .seccionCategoria .itemCategoria {
    width: 85%;
    margin-bottom: 20px;
  }
}

/* Cabecera con titulo y nav*/
#titulo {
  font-size: 2em;
  margin-top: 47px;
  margin-bottom: 55px;
}
.cabecera {
  width: 90%;
  margin: auto;
}
nav {
  display: grid;
  width: 70%;
  text-align: center;
  grid-template-columns: auto auto auto auto;
}
.item {
  font-size: 20px;
  width: 158px;
  padding: 5px;
  border-bottom: 3px solid var(--verde-claro);
}
.activo {
  color: var(--verde-claro);
}

/* Cards con postulaciones */
.eleccion {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.seccionCategoria {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: center;
}
.textoEleccion {
  color: #5e6366;
  text-align: center;
  font-size: 20px;
}
.finalizar {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 76px;
  border-radius: 14px;
  padding-left: 50px;
  padding-right: 50px;
}
.finalizar p {
  margin-left: 10px;
}
