@media (min-width: 426px) {
  .cabecera #titulo {
    font-size: var(--titular-h1-size-pc);
  }
  .cabecera nav {
    gap: 8px;
  }
  nav .item {
    font-size: var(--p-size-pc);
    width: 90px;
  }
}
@media (min-width: 1048px){
  .eleccion .cabecera{
    width: 1024px;
  }
}

@media (min-width: 768px){
  .eleccion .cabecera nav {
    gap: 16px;
  }

  .cabecera nav .item {
    width: 125px;
  }
}

@media (max-width: 768px) {
  /* Cards con postulaciones */
  .eleccion .seccionCategoria {
    flex-direction: column;
    align-items: center;
  }
  .seccionCategoria .itemCategoria {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Cabecera con titulo y nav*/
.cabecera{
  width: 100%;
  margin-bottom: 36px;
}
#titulo {
  font-size: var(--titular-h1-size-mobile);
  text-align: start;
  margin-bottom: 21px;
}
nav {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  text-align: center;
}
.item {
  font-size: var(--p-size-mobile);
  width: 90px;
  padding: 2px;
  border-bottom: 3px solid var(--verde-claro);
}
.activo {
  color: var(--verde-claro);
}

/* Cards con postulaciones */
.textoEleccion {
  color: #5e6366;
  text-align: center;
  font-size: var(--subtitular-h3-size-mobile);
}
.eleccion {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.seccionCategoria {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: center;
}
.finalizar {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 76px;
  border-radius: 14px;
  padding-left: 50px;
  padding-right: 50px;
}
.finalizar p {
  margin-left: 10px;
}
