
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #83c442, #b3d438);
  border-radius: 15px;
  box-shadow: rgba(170, 170, 170, 0.27) 0px 5px 15.8px 5px;
  width: 100%;
  height: 75px;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
}
