@media (min-width: 426px){
    #root .perfil{
        grid-template-rows: none;
        grid-template-columns: auto 1fr auto;
    }
    .perfil .foto{
        width: 85px;
        height: 85px;
    }
    .perfil .titulos h3{
        font-size: var(--titular-h1-size-pc);
    }
    .perfil .titulos p {
        font-size: var(--subtitular-h3-size-pc);
    }
}

.perfil{
    margin-top: 55px;
    padding: 10px;
    max-width: 1020px;
    width: 100%;
    margin: auto;
    background-color: #eee;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    border-radius: 22px;
    flex-wrap: wrap;
}
.foto{
    width: 100px;
    height: 100px;
    clip-path: circle()
}
.perfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulos h3{
    font-size: var(--titulartasa-h2-mobile);
}
.titulos p{
    color: #454545;
    font-size: var(--subtitular-h3-size-mobile);
}
.boton{
    width: 100%;
    display: grid;
    align-content: center;
}
.boton button{
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    color: var(--verde-claro);
    border: 1px solid var(--verde-claro);
    border-radius: 10px;
    width: 149px;
    padding: 8px;
}