@media (max-width: 480px) {
  .centrar .perfil{
    max-width: auto;
    grid-template-columns: auto;
    gap: 15px;
  }
  .perfil .boton button{
    width: 149px
  }
}

.perfil{
    margin-top: 55px;
    padding: 10px;
    max-width: 1020px;
    width: 100%;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 20px;
    border-radius: 22px;
}
.foto{
    width: 76px;
    height: 76px;
    clip-path: circle()
}
.perfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulos h3{
    font-size: 32px;
}
.titulos p{
    color: #454545;
    font-size: 22px;
}
.boton{
    width: 100%;
    display: grid;
    align-content: center;
}
.boton button{
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    color: var(--verde-claro);
    border: 1px solid var(--verde-claro);
    border-radius: 10px;
    width: 149px;
    padding: 8px;
}